<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
        <div class="col-12 col-md">
            <img class="mb-2" src="https://i.pinimg.com/564x/34/8b/37/348b37ad08fa71b503e71eb265b6749a.jpg" alt="" width="175" height="175">
        </div>
        <div class="col-6 col-md">
            <h5>Empresa</h5>
            <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#quienes-somos">Quiénes somos</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#empresa">Sobre la Empresa</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#equipo">Equipo</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#calidad">Calidad</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Recursos</h5>
            <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#documentacion">Documentación</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#soporte">Soporte</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#contacto">Contacto</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Páginas Legales</h5>
            <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#privacidad">Política de Privacidad</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#Cookies">Cookies</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#newsletter">Newsletter</a></li>
            </ul>
        </div>
    </div>
</footer>