<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>List of Menus</title> 
    <div th:insert="fragments/header"></div>
</head>
<body>
    <div th:insert="fragments/navbar"></div>
    <div class="container" style="margin-top: 80px;">
    <h1 th:text="'Listado de clientes'" />
    <table class="table">
    <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th></th>
        <th></th>
        <th></th>
    </thead>
    <tr th:each="customer: ${customers}">
        <td th:text="${customer.id}" />
        <td th:text="${customer.name}" />
        <td th:text="${customer.email}" />
        <td><a th:href="@{'/admin/customers/' + ${customer.id} + '/edit'}"><input class="btn btn-warning" type="submit" value="edit" /></a></td>
        <td><form th:name="${customer.id}" th:action="@{'/admin/customers/del/' + ${customer.id}}" th:method="delete"><input class="btn btn-danger" type="submit" value="delete" /></form></span></td>
        <td><a th:href="@{'/admin/orders/?customerid=' + ${customer.id}}"><input class="btn btn-info" value="View Orders"/></a></td>
    </tr>
</table>
<a th:href="@{'/admin/customers/add'}"><input type="button" class="btn btn-primary" value="Add Customer" /></a>
</div>
</body>
<div class="container py-3">
    <div th:insert="fragments/footer"></div>
</div>
</html>