<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>New order</title> 
    <div th:insert="fragments/header"></div>
</head>
<body>
    <div th:insert="fragments/navbar"></div>
    <div class="container" style="margin-top: 80px;">
    <h1 th:text="'New Order'" />
    <form action="#" 
    th:action="@{/admin/orderes/}" 
    method="post">
    <div class="form-group">
        <label for="userid">Customer</label>
        <select class="form-control" name="userid" id="userid" placeholder="Customer">
            <option th:each="user: ${users}" th:value="${user.id}" th:text="${user.name}"></option>
        </select>
    </div>  
      <input type="submit" class="btn btn-primary" value="Add Order">   
  </form>
</body>
<div class="container py-3">
    <div th:insert="fragments/footer"></div>
</div>
</html>